@page
@model WebApp.Pages.List

@{
    ViewData["Title"] = "ToDo List";
}

<div id="list" class="row">
    
    <label for="newtask">Create a new task</label>
    <input type="text" id="newtask" name="exampleInputEmail1" placeholder="Press Enter to create a new task" v-on:keyup.enter="createNewTask" v-model="newTask">
    
    <ul class="p-list">
        <li class="p-list__item" v-for="task in items">
            <div class="p-card">
                <label class="p-checkbox">
                    <input type="checkbox" aria-labelledby="checkboxLabel1" class="p-checkbox__input" v-model="task.isDone"/>
                </label>
                <div class="p-checkbox__label " id="checkboxLabel1">
                    <h4>{{task.title}}</h4>
                    <p class="p-card__content">task was created by {{task.createdBy}} | {{task.createdAt}}</p>
                </div>
            </div>
        </li>
    </ul>
</div>

<script>
Vue.createApp({
 data(){
     return {
         items: [],
         newTask: ''
     }
 },
 mounted(){
         axios.get('@Model.BaseUrl/api/tasks', {
             headers:{
                 'Api-Key' : '@Model.ApiKey',
                 'User-Id' : '@Model.UserId'
             }
         }).then(response => {
             this.items = response;
         }).catch(error => {
            console.log(error); 
         });
 },
 methods:{
     createNewTask:function (){
         axios.post('@Model.BaseUrl/api/tasks/create', 
         {
             'title': this.newTask
         },
         {
             headers:{
                 'Api-Key' : '@Model.ApiKey',
                 'User-Id' : '@Model.UserId'
             }
         }).then(response => {       
             this.newTask = '';
             this.items.push(response);
         }).catch(error => {
             console.log(error);
         });
     }
 },
}).mount('#list');
</script>