@using OnlineCinema.Models
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@using System.Net.Http
@inject System.Net.Http.IHttpClientFactory HttpClientFactory

<EditForm Model="@NewComment" OnSubmit="OnCreateNewComment">

    <div class="form-group">
        <label>Author</label>
        <InputText class="form-control" @bind-Value="NewComment.Author" />
    </div>

    <div class="form-group">
        <label>Comment</label>
        <InputTextArea class="form-control" @bind-Value="@NewComment.Value" />
    </div>

    <div class="float-right">
        <button class="btn btn-success" type="submit">Add</button>
    </div>

</EditForm>

@foreach (var comment in Comments)
{
    <div>
        <div>
            <span class="comment-author">@comment.Author</span>
            <span class="comment-createdate">@comment.CreatedOn.ToShortDateString()</span>
        </div>
        <div>@comment.Value</div>
    </div>

    <br />
}

@code {
    private HttpClient _client;

    public List<Comment> Comments { get; set; }

    [Parameter]
    public int MovieId { get; set; }

    public Comment NewComment { get; set; } = new Comment();

    public async Task OnCreateNewComment()
    {
        NewComment.CreatedOn = DateTime.Now;
        Comments.Add(NewComment);

        var result = await _client.PostJsonAsync<Comment>("/commet/addComment", NewComment);

        NewComment = new Comment();
    }

    protected override Task OnInitializedAsync()
    {
        _client = HttpClientFactory.CreateClient();
        return base.OnInitializedAsync();
    }
}
